@model IEnumerable<RedeSocial.Domain.Account.Comentario>

@{ ViewData["Title"] = "Index"; }

<td>
    <a asp-action="Create">Escrever um comentario</a>
</td>

<h1>Comentarios</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var id = item.idDaPostagem;
             if (item == null) { item.accountName = "Comentarios"; }
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.comentario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.accountName)
                    </td>
                    <td>
                        <a asp-route-id="@item.idDaPostagem" asp-action="Create">Escrever um comentario</a>
                    </td>
                </tr>
            }
    </tbody>
</table>

