@model RedeSocial.Web.Models.PostagemApi.CriarPostagemViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Postagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="titulo" class="control-label"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="legenda" class="control-label"></label>
                <input asp-for="legenda" class="form-control" />
                <span asp-validation-for="legenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="accountId" value="@(this.User.Claims.First(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier).Value)" ; />
                <span asp-validation-for="accountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="accountName" value="@(this.User.Claims.First(x => x.Type == System.Security.Claims.ClaimTypes.Name).Value)" ; />
                <span asp-validation-for="accountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="fotoPost" class="control-label"></label>
                <input type="file" name="fotoPost" for="nome" class="form-control" />
                <span validation-for="fotoPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
