@model IEnumerable<RedeSocial.Domain.Account.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Conta criada com SUCESSO!!</h1>
<br />

<br />

<h3>
    <a asp-controller="Account" asp-action="Login">Login</a>
</h3>
