@{ ViewData["Title"] = "Home Page"; }

@section PreFooter {
    <div class="text-center">
        <h1 class="display-4">ESSA É A RENDERIZAÇÃO DA SECAO PRE FOOTER</h1>

    </div>


}

@Html.Partial("_HelloUser")

